.spacer {
  width: 80rem;
  margin-inline: auto;
  max-width: 100%;
  padding-inline: var(--rem0);
}

.spacer--extended {
  width: calc(60rem + var(--rem8));
  padding-inline: 0;
}

.spacer--medium {
  width: 52rem;
}

.spacer--narrow {
  width: 28rem;
}
